{% extends 'base.html' %}

{% block body %}

    <div class="row no-gutters">
      <div class="col-md-3 card-annotation">
        <a name='toast'></a>
        <h3 class="display-3">Configuration
        </h3>
      </div>
      <div class="col-md-9">
        <div class="card">
          <div class="card-body">
            <ul class="resource-list">
                <li class="resource-list__item">
                <label>Block Visitors using Proxy</label>
                <button type="button" id="btnproxy" class="btn btn-sm btn-outline-danger">Disabled</button>
                </li>
                <li class="resource-list__item">
                <label>Block Visitors using VPN</label>
                <button type="button" id="btnvpn" class="btn btn-sm btn-success">Enabled</button>
                </li>
                <li class="resource-list__item">
                <label>Block Spy Tools</label>
                <button type="button" id="btnspytool" class="btn btn-sm btn-success">Enabled</button>
                </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    
        
    <div class="row no-gutters">
      <div class="col-md-3 card-annotation">
        <a name='toast'></a>
        <h3 class="display-3">Blocked Message
        </h3>
      </div>
      <div class="col-md-9">
        <div class="card">
          <div class="card-body">
                      <div class="form-group">
              <label class="col-form-label" for="formGroupExampleInput">You are not allowed</label>
              <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Big Title">
            </div>
            <div class="form-group">
              <label class="col-form-label" for="description">Description</label>
              <textarea class="form-control" name="description" id="description" placeholder="Short Paragraph" rows="10"></textarea>
            </div>
      <div class="btn-group btn-group--spaced" role="group" aria-label="Product Actions">
        <button type="button" class="btn">Cancel</button>
        <button type="button" class="btn btn-primary">Save</button>
      </div>
          </div>

          
        </div>




      </div>
    </div>





















        


<script>
  $(document).ready(function(){
  });
  </script>

{% endblock %}